@import './services/NotificationService.scss';

$xs: 559.99px; //max
$sm: 959.99px; //max
$md: 1279.99px; //max
$lg: 1919.99px; //max
$xl: 1920px; //min

$maxleftWidth: 200px; /* 側邊欄寬度 */
$minleftWidth: 50px; /* 側邊欄最小寬度 */
$trans-out: ease-out;

$sidebar-bg: #2c3e50; /* 側邊欄背景顏色 */
$sidebar-bg-light: #2c3e50c5; /* 側邊欄輕微透明背景顏色 */
$sidebar-hover-bg: #4a4f55; /* 側邊欄 hover 背景顏色 */
$active-bg: #e9e9e9; /* 當前頁面底色 */
$open-hover-bg: #46617d; 
$close-hover-bg: #d5d5d5; 

.App {
  text-align: center;
  background-color: $active-bg;
  height: 100vh; /* 設置高度為視口高度 */
}

.content {
  margin-top: 50px; /* header 高度 */
  transition: margin-left 0.3s ease;
  height: 100vh;
  overflow-y: scroll;
}

/* 滾動條樣式 */
::-webkit-scrollbar {
  width: 8px;  /* 設置滾動條寬度 */
  margin-top: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;  /* 滾動條的顏色 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* 滾動條懸停時的顏色 */
}

/* 確保 header 固定在頁面頂部 */
header {
  position: fixed;  /* 固定 header */
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;  /* 設置背景顏色 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 添加陰影 */
  height: 50px;
}

/* 響應式設計：當螢幕寬度小於 $sm 時 */
@media (max-width: $sm) {
  .content {
      &.open {
        margin-left: $maxleftWidth;
        transition: width 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease; /* 平滑過渡效果 */
      }

      &.closed {
        margin-left: 0;
        transition: width 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease; /* 平滑過渡效果 */
      }
  }
}

/* 響應式設計：當螢幕寬度在 $md 到 $lg 之間 */
@media (max-width: $md) and (min-width: $sm) {
  .content {
    &.open {
      margin-left: $maxleftWidth;
      transition: width 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease; /* 平滑過渡效果 */
    }

    &.closed {
      margin-left: 50;
      transition: width 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease; /* 平滑過渡效果 */
    }
  }
}
